/* Estilos personalizados */

body {
  font-family: 'Roboto', sans-serif;
}
  
header {
  margin-bottom: 30px;
}
  
#contenido {
  margin-top: 30px;
}
  
#contenido h2 {
  color: #333;
}
  
#contenido p {
  font-size: 18px;
}
  
  
#contenido iframe {
  margin-top: 20px;
}
  
#contenido .form-group {
  margin-bottom: 20px;
}

 #carouselExampleControls{
  align-items: center;
 }
